.content {
    color:white;
}

h1{
    color:white;
    margin-top:0;
    padding-top:30px;
}

nav ul {
    padding:0;
}

nav ul li {
    list-style:none;
    display:inline;
    padding:0px 20px;
    color:white;
}

nav ul li a {
    color:white;
}

.top {
    text-align:center;
}

.content{
    margin: 0 auto;
    width: 80%;
}
