h1{
    color:black;
}

nav ul {
    padding:0;
}

nav ul li {
    list-style:none;
    display:inline;
    padding:0px 20px;
}

.top {
    text-align:center;
}

.content{
    margin: 0 auto;
    width: 80%;
}
